@font-face { font-family: 'klill'; src: url('/fonts/klill.eot'); font-weight: 300; font-style: normal; }

@font-face { font-family: 'klill'; font-weight: normal; font-style: normal; font-weight: 300; font-style: normal;
  src: url('/fonts/klill.woff') format('woff'),
       url('/fonts/klill.woff2') format('woff2'),
       url('/fonts/klill.ttf') format('truetype'); }