<style type="text/css">
  {% assign prefix = include.prefix %}
  {% assign slider = include.slider %}

  {% for slide in slider.slides %}
    {% if forloop.last %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .controls label:nth-child(1)
    {% else %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .controls label:nth-child({{ forloop.index | plus:1 }}),
    {% endif %}
  {% endfor %}
  {
    background: url('/images/next.png') no-repeat;
    float: right;
    margin: 0 -7rem 0 0;
    display: block;
  }

  {% for slide in slider.slides %}
    {% if forloop.first %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .controls label:nth-child({{ slider.slides.size }}),
    {% else %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .controls label:nth-child({{ forloop.index | minus:1 }}){% unless forloop.index == (forloop.length | minus:1) %},{% endunless %}
    {% endif %}
  {% endfor %}
  {
    background: url('/images/prev.png') no-repeat;
    float: left;
    margin: 0 0 0 -7rem;
    display: block;
  }

  {% for slide in slider.slides %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .active label:nth-child({{ forloop.index }}){% unless forloop.last %},{% endunless %}
  {% endfor %}
  {
    background: #333;
    border-color: #333 !important;
  }

  {% for slide in slider.slides %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .slides .slide:nth-child({{ forloop.index }}) .info{% unless forloop.last %},{% endunless %} 
  {% endfor %}
  {
    opacity: 1;
  }

  {% if slider.sprite != nil and slider.sprite == true %}
    .slider.{{ slider.name }}Slider .slides .inner.sprite img { 
      max-width: 100%;
      background-size: 100%;
      background-image: url('{{ slider.image | prepend: site.images_url }}');
    }
  {% endif %}

  {% for slide in slider.slides %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .slides .inner { margin-left: {% if forloop.first %}0{% else %}-{{ forloop.index | minus: 1 }}00{% endif %}% } 
  {% endfor %}


</style>