@charset "utf-8";

@import
    "slider";

.featured {
	h5 {
		margin: 0;
		padding: 10px 0 5px 0;
		background: $primary-color;
		color: #fff;
		border-bottom: 5px solid $secondary-color;
	}

	.image {
		height: 250px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 10px;
	}

	&.one-third.column {
		width: 100%;
		margin: 0;

		.heading {
			width: 40%;
			float: left;
		}

		p {
			margin: 5.6rem 2rem 2rem 2rem;
		}
	}
}
