@charset "utf-8";

@import
    "slider";

.featured {
	h5 {
		margin: 0;
		padding: 10px 0 5px 0;
		background: $primary-color;
		color: #fff;
		border-bottom: 5px solid $secondary-color;
	}

	.image {
		height: 250px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 10px;
	}

	&.one-third.column {
		width: 100%;
		margin: 0;

		@include mq($bp-larger-than-desktop) {
			width: grid-column-width(4);
			margin-left: $column-margin;
		}

		.heading {
			width: 100%;
			float: left;

			@include mq($bp-larger-than-tablet) {
				margin-right: 2rem;
				width: 50%;
			}
		}

		p {
			@include mq($bp-larger-than-tablet) {
				margin-top: 5.6rem;
			}
		}
	}

	&.one-third.column:first-child {
		margin-left: 0;
	}
}