<ol class="breadcrumbs">
{% for p in page.ancestors %}
	<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" {% unless forloop.first %}itemprop="child"{% endunless %}>
		<a href="{{ p.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" itemprop="url">
			<span itemprop="title">{{ p.title }}</span>
		</a>
	</li>
{% endfor %}
	<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child" class="active">
		<a href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" itemprop="url">
			<span itemprop="title">{{ page.title }}</span>
		</a>
	</li>
</ol>