<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.founder.firstName}} {{ site.founder.lastName }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <!-- DNS Prefetch to load Google Analytics and Fonts faster -->
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  {% if site.assets_url != "" and site.assets_url contains '//' %}
  <link rel="dns-prefetch" href="{{ site.assets_url }}">
  {% endif %}
  {% if site.images_url != "" and site.images_url contains '//' %}
  <link rel="dns-prefetch" href="{{ site.images_url }}">
  {% endif %}
  {% if page.captcha != nil and page.captcha == true %}
  <link rel="dns-prefetch" href="//www.google.com">
  <link rel="dns-prefetch" href="//www.gstatic.com">
  <link rel="dns-prefetch" href="//apis.google.com">
  <link rel="dns-prefetch" href="//fonts.gstatic.com">
  {% endif %}

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}, {% endif %}{{ site.keywords }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="icon" type="image/png" href="images/favicon.png">

  {% include social.html %}
  
  <noscript>
    <link rel="stylesheet" media="all" href="{{ "/css/klill.css" | prepend: site.assets_url }}" />
  {% if page.btf != nil %} 
  {% assign stylesheetName = page.btf | prepend: "/css/" %}
    <link rel="stylesheet" media="all" href="{{ stylesheetName | prepend: site.assets_url }}" />
  {% endif %}
  </noscript>

  <style type="text/css">
    /* Optimising above the fold content */
    {% capture _critical_content %}
      {% include critical.scss %}
      {% if page.atf %}{% include {{ page.atf }} %}{% endif %}
      {% include print.scss %}
    {% endcapture %}
    {{ _critical_content | scssify }}
  </style>