{% assign prefix = include.prefix %}{% assign slider = include.slider %}<div class="slider {{ slider.name }}Slider">
  {% assign first = true %}
  {% for slide in slider.slides %}
  <input type="radio" name="{{ slider.name }}Slider" id="{{ slide.id | prepend: prefix}}"{% if first == true %} checked="checked"{% endif %}>
    {% assign first = false %}
  {% endfor %}

  <div class="slides">
    <div class="wrapper">
      <div class="inner{% if slider.sprite != nil and slider.sprite == true %} sprite{% endif %}">
        {% assign counter = 0 %}
        {% assign slidesLessOne = slider.slides.size | minus:1 %}
        {% assign percentage = 100.00 | divided_by: slidesLessOne %}
        {% for slide in slider.slides %}
        <div class="slide">
          {% assign imageName = (slide.image | prepend: site.images_url) %}
          {% if slider.sprite != nil and slider.sprite == true %}
            {% assign imageName = slider.base64 %}
          {% endif %}
          <img src="{{ imageName }}" alt="{{ slide.alt }}"{% if slider.sprite != nil and slider.sprite == true %} style="background-position: 0 {{ counter | times:percentage }}%"{% endif %}>
          {% if slide.info.show != nil and slide.info.show == true %}
          <div class="info{% if slide.info.button.show != nil and slide.info.button.show == true %} hasButton{% endif %}">
            {% if slide.info.button.show != nil and slide.info.button.show == true %}
            <a href="{{ slide.info.button.url }}" class="button button-primary" title="{{ slide.info.button.text }}">{{ slide.info.button.text }}</a>
            {% endif %}
            <h5>{{ slide.info.heading }}</h5>
            <p>{{ slide.info.text }}</p>
          </div>
          {% endif %}
        </div>
          {% assign counter=counter | plus:1 %} 
        {% endfor %}
      </div>
    </div>
  </div>

  {% comment %}
  <div class="controls">
    {% for slide in slider.slides %}
    <label for="{{ slide.id | prepend: prefix }}"></label>
    {% endfor %}
  </div>
  {% endcomment %}
  
  <div class="active">
    {% for slide in slider.slides %}
    <label for="{{ slide.id | prepend: prefix }}"></label>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  {% assign counter = 1 %}
  var {{ slider.name }}Slider={
    slideIds:[
      {% for slide in slider.slides %}
        '{{ slide.id | prepend: prefix }}'{%if counter < slider.slides.size %},{% endif %} 
        {% assign counter=counter | plus:1 %} 
      {% endfor %}
    ],
    currentIndex:0,
    maxIndex:{{ slider.slides.size | minus:1  }},
    timer : undefined,
    interval : 5e3,
    next:function(){var e;this.currentIndex+1>this.maxIndex?(this.currentIndex=0,e=document.getElementById(this.slideIds[this.currentIndex])):(this.currentIndex=this.currentIndex+1,e=document.getElementById(this.slideIds[this.currentIndex])),e&&(e.checked=!0)},
    start:function(){void 0==this.timer&&(this.timer=setInterval(function() { {{ slider.name }}Slider.next.call({{ slider.name }}Slider); }, this.interval))},
    stop:function(){this.timer&&(clearInterval(this.timer),this.timer=undefined)},
    init:function() {this.slideIds.forEach(function(v) {var e; e=document.getElementById(v), e&&(e.onclick=function(){{{ slider.name }}Slider.stop();})});}
  };
  {{ slider.name }}Slider.init();
  {{ slider.name }}Slider.start();
</script>