<style type="text/css">
  {% assign prefix = include.prefix %}
  {% assign slider = include.slider %}
  {% assign counter = 1 %}
  {% for slide in slider.slides %}
    {% if counter == slider.slides.size %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .controls label:nth-child(1)
    {% else %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .controls label:nth-child({{ counter | plus:1 }}),
    {% endif %}
    {% assign counter=counter | plus:1 %} 
  {% endfor %}
  {
    background: url('/images/next.png') no-repeat;
    float: right;
    margin: 0 -7rem 0 0;
    display: block;
  }

  {% assign counter = 1 %}
  {% for slide in slider.slides %}
    {% if counter == 1 %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .controls label:nth-child({{ slider.slides.size }}),
    {% else %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .controls label:nth-child({{ counter | minus:1 }}){%if counter < (slider.slides.size | minus:1) %},{% endif %}
    {% endif %}
    {% assign counter=counter | plus:1 %} 
  {% endfor %}
  {
    background: url('/images/prev.png') no-repeat;
    float: left;
    margin: 0 0 0 -7rem;
    display: block;
  }

  {% assign counter = 1 %}
  {% for slide in slider.slides %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .active label:nth-child({{ counter }}){%if counter < slider.slides.size %},{% endif %}
    {% assign counter=counter | plus:1 %} 
  {% endfor %}
  {
    background: #333;
    border-color: #333 !important;
  }

  {% assign counter = 1 %}
  {% for slide in slider.slides %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .slides .slide:nth-child({{ counter }}) .info{%if counter < slider.slides.size %},{% endif %}
    {% assign counter=counter | plus:1 %} 
  {% endfor %}
  {
    opacity: 1;
    -webkit-transition: all 1s ease-out 0.6s;
    -moz-transition: all 1s ease-out 0.6s;
    -o-transition: all 1s ease-out 0.6s;
    transition: all 1s ease-out 0.6s;
  }

  {% if slider.sprite != nil and slider.sprite == true %}
    .slider.{{ slider.name }}Slider .slides .inner.sprite img { 
      max-width: 100%;
      background-size: 100%;
      background-image: url('{{ slider.image | prepend: site.images_url }}');
    }
  {% endif %}

  {% assign counter = 0 %}
  {% for slide in slider.slides %}
    .slider.{{ slider.name }}Slider #{{ slide.id | prepend: prefix }}:checked ~ .slides .inner { margin-left: -{{ counter }}00% }
    {% assign counter=counter | plus:1 %} 
  {% endfor %}


</style>