---
layout: compress
---
{% assign hasFeatured = false %}
{%if page.showFeatured and page.showFeatured == true %}
	{% assign hasFeatured = true %}
{% endif %}
{% assign hasPosts = false %}

{% if page.collection %}
	{% if hasFeatured == true %}
		{% assign hasFeatured = false %}
		{% for item in site[page.collection] %}
			{% if item.layout != "category" %}
				{% assign hasPosts = true %}
				{%if item.featured != nil and item.featured == true %}
					{% assign hasFeatured = true %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  </head>
  <body>
    <!-- Last autobuild at {{ site.time }} -->
    {% include navigation.html %}
    <div class="container">
      <div class="row">
      	<div class="content twelve columns">
        {% if hasFeatured == true %}
					<h1>Featured {{ page.heading }}</h1>
					<!-- Show Featured Articles -->
				{% endif %}
				{% if hasPosts == true %}
					{% if hasFeatured == true %}
						<h2>Latest {{ page.heading }}</h2>
					{% else %}
						<h1>Latest {{ page.heading }}</h1>
					{% endif %}
					<!-- Show Latest Articles -->
				{% else %}
					<h2>No {{ page.heading | downcase }} to show!</h2>	
				{% endif %}
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include footerScripts.html %}
  </body>
</html>