---
layout: compress
atf: atf/home.scss
---
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  {% assign slidePrefix = 'slide' %}
  {% assign slideArray = site.data.slider.home %}
  {% include snippets/head.html %}
    {% include slider/styles.css slider=slideArray prefix=slidePrefix %}
  </head>
  <body>
    <!-- Last autobuild at {{ site.time }} -->
    {% include navigation.html %}
    <div class="container">
      <div class="row">
        <div class="twelve columns">{% include slider/template.html slider=slideArray prefix=slidePrefix %}</div>
      </div>
      <div class="row">
        <div class="one-third  column featured">
          <div class="heading">
            <h5>Recipe</h5>
            <div class="image" style="background-image:url('{{ site.images_url }}fruit-salad.jpg')"></div>
          </div>
          <p>Nunc eleifend elit tempus quam elementum, vitae blandit mauris ullamcorper. Pellentesque porta, est et mattis mollis, eros nibh hendrerit est, sit amet lobortis lectus magna in mi. Proin molestie nec lectus a tincidunt. In sodales orci ante, eget porttitor libero tempor in. </p>
        </div>
        <div class="one-third column featured">
          <div class="heading">
            <h5>Blog</h5>
            <div class="image" style="background-image:url('{{ site.images_url }}rainbow.jpg')"></div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius libero ut augue viverra, id pulvinar turpis rhoncus. In hac habitasse platea dictumst. Aenean egestas consequat est non dictum. Curabitur hendrerit neque nunc, ut congue erat maximus quis. </p>
        </div>
        <div class="one-third column featured">
          <div class="heading">
            <h5>Store</h5>
            <div class="image" style="background-image:url('{{ site.images_url }}raw-cake.jpg')"></div>
          </div>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean maximus quam nec lectus dictum fringilla. Praesent semper tristique mauris. Nunc scelerisque risus ut dolor pharetra, ac facilisis metus sodales. Donec laoreet neque quis egestas feugiat.</p>
        </div>
      </div>
      <div class="row">
        <div class="content twelve columns">
          <h1 class="title">{% if page.title and page.title != "" %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
          {{ content }}
        </div>
      </div>
    </div>
    {% include snippets/footer.html %}
    {% include snippets/footerScripts.html %}
  </body>
</html>